body{
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(176, 212, 226);
    
}
.OuterContainer{  /*for calling a class we use . */
    display: flex;
    align-items: center; /*Equal sapces between top and bottom labels and its vertically centric*/
    justify-content: center;/*aligns in center*/
    box-shadow: 0 0 22px rgb(225, 170, 18);
    border-radius: 10px; 
    margin: 32px;  /*magin of the outer boundary of the container*/
    min-height: 82vh;  /*Vertical height*/
    Background: linear-gradient(135deg, rgb( 69, 211, 154), rgb(188, 127, 216), rgb(240, 199, 85));
}

Inputform{
    text-align:center; /*aligns the heading labels*/
}

label{
    color:black;
    display: block; /* This for stacking elemnts vertically*/
    margin-bottom: 4px; /*margin b/w the box and the text*/ /*margin is the space around the element*/
    padding: 7px; 
    font-size: 21px;
    text-align:center;

}

input, textarea{
    border: 3px solid rgb(0, 0, 0); /*input area's border*/
    border-radius: 9px; /*border-radius is used to round the sides of the box*/
     /*acc to requirement*/
    padding: 7px;
    justify-content:center;
}


.Section1, .Section2, .Section3, .Section4{
    margin-top: 7px;
    margin-bottom: 6px;
    padding: 22px;
}


.SubmitButton {

    margin-top: 10px;
    text-align: center;
}






